body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SIDEBAR STYLING */
.MuiDrawer-paper {
  padding-top: 30px;
  width: 15vw;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.Mui-selected {
  color: #e69500 !important;
}

/* SHARED STYLING */
.main {
  margin-top: 50px;
}

.primary-btn {
  padding: 15px 30px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
}

.primary-btn:hover {
  transition-duration: 0.5s;
  background-color: black;
  color: white;
}