body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SIDEBAR STYLING */
.MuiDrawer-paper {
  padding-top: 30px;
  width: 15vw;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.Mui-selected {
  color: #e69500 !important;
}

/* SHARED STYLING */
.main {
  margin-top: 50px;
}

.primary-btn {
  padding: 15px 30px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
}

.primary-btn:hover {
  transition-duration: 0.5s;
  background-color: black;
  color: white;
}

.display-card {
  margin-top: 20px;
  min-height: 480px;
}

.display-card:hover {
  transition-duration: 0.5s;
  transform: scale(1.05);
  opacity: 0.7;
}

.modal-card h2, .display-card h2 {
  line-height: 20px;
}

.modal-card h5, .display-card h5 {
  color: #999;
}

.modal-card p, .display-card p {
  line-height: 1.3;
}

.display-card .favorite-icon {
  position: absolute;
  margin: 10px;
  color: red;
}

.modal-favorite-icon:hover, .display-card .favorite-icon:hover {
  transform: scale(1.2);
}

.tag {
  display: inline;
  color: #999;
  border: 1px solid #999;
  border-radius: 25px;
  padding: 5px 10px;
  margin-right: 4px;
}

.modal {
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  overflow: scroll;
  background-color: white;
  width: 60vw;
  height: 65vh;
}

.modal-card > * {
  overflow: scroll;
}

.modal-card img {
  max-width: 100%;
}

.modal-card h4 {
  text-align: center;
  margin: 15px auto;
}

.modal-favorite-icon {
  float: right;
  color: red;
}